# Configuration file: GiGA Genie Inside Python Client
[rest]
host: https://inside-dev.gigagenie.ai
port: 30109 

[grpc]
host: inside-dev.gigagenie.ai
port: 50109

# set your client key information
[client]
client_type: GINSIDE
client_id: YOUR_CLIENT_ID
client_key: YOUR_CLIENT_KEY
client_secret: YOUR_CLIENT_SECRET
